/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,400&display=swap');
html{
    font-size:62.5%;
    
  }
  body{
    font-size:1.6rem;
    font-family: 'Montserrat', sans-serif;
    line-height:1.5;
  }
h1 {
  font-size:4rem;
  letter-spacing:1px;
  line-height: normal;
  font-weight: 700;
}
h2 {
   font-size:3rem;
   letter-spacing:1px;
   line-height: normal;
   font-weight: 400;
}
p {
    font-size:2rem;
    line-height: normal;
    font-weight: 400;
}
.links {
    display:flex;
    flex-wrap: wrap;
    padding:1% 9%;
    width:60%;
    justify-content: flex-end;
}
.title {
  width:40%;
}
.container {
    display:flex;
    width:100%;
    padding:4%;
}
.mainSection {
  width:100%;
  padding:4%;
  margin:2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.checkboxes {
  display: flex;
  flex-direction: column;
}
header {
    background-color: rgb(233, 233, 233);
}
a {
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    border:2px solid rgb(255, 60, 0);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
a:hover {
    background-color: rgb(255, 60, 0);
    color: white;
}
button {
  text-decoration: none;
  padding: 5px;
  font-size: 1.5em;
  border:2px solid rgb(255, 60, 0);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
button:enabled {
  background-color: rgb(255, 60, 0);
  color: white;
}
a.active {
    background-color: rgb(255, 60, 0);
    color: white;
}
.topSection {
    display: flex;
}
